# Symfony application's path (absolute or relative)
SYMFONY_APP_PATH=./symfony
SYMFONY_ENV=dev

# Timezone
TIMEZONE=Europe/Paris

# PostgreSQL settings
DB_PORT=5432
DB_HOST=postgres
DB_NAME=verdict
POSTGRES_USER=verdict
POSTGRES_PASSWORD=secret
PGDATA=/var/lib/postgresql/data/pgdata
